body {
  font-family: Arial, sans-serif;
  margin: 5% 35%;
  background-color: #f7f7f7;
}
h2 {
  color: black;
  /* text-align: center; */
  padding-left: 75px;
  font-weight: bold;
  text-decoration: underline;
}
form {
  background: #fff;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}
input, select {
  width: 95%;
  padding: 8px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.hidden {
  display: none;
}
button {
  margin-top: 25px;
  padding: 10px;
  width: 100%;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  scale: 1;
  transition: scale 0.3s ease;
  cursor: pointer;
}
button:hover {
  background-color: darkgreen;
  scale: 1.05;
}
